name: Ci
on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-go@v2
      with:
        go-version: '^1.17'
    - name: Test
      run: go test -race -coverprofile="coverage.txt" -covermode=atomic
    - name: Upload coverage
      uses: codecov/codecov-action@v1

# vim:set sw=2 ts=2 sts=2:
